<!DOCTYPE html>
<html>
	<!-- change card dialog modal -->
	<div class="modal fade" id="exchange-dialog" role="dialog">
		<div class="modal-dialog modal-xs">
			<div class="modal-content">
				<div class="modal-body row">
					<div class="col-xs-1"></div>
					<form class="col-xs-10">
						<div align="center">
							<h5 class="exchange-card-dialog-title">Platoon ID</h5><br>
							<h3 id="platoon-id-text">9487</h3>
							<hr><br>
							<h3 id="count-down-timer">5:00</h3>
						</div>
						<h3 class="exchange-card-dialog-description">此ID將於時限後，<br>或關閉此頁面時自動消失</h3>

					</form>
					<div class="col-xs-1"></div>
				</div>
			</div>
		</div>
	</div>
</html>