html {
  font-size: 12px;
}

body {
  line-height: 0;
  background-color: #ffffff;
}

/* 36,30,24,18,14,12px */
h1 {
  3rem;
}
h2 {
  2.5rem;
}
h3 {
  2rem;
}
h4 {
  1.5rem;
}
h5 {
  1.166rem;
}
h6{
  1rem;
}
