html {
  font-size: 12px;
}
body {
  line-height: 1.5px;
  background-color: #ffffff;
  font-family: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  color: #484848;
}

/* 36,30,24,18,14,12px */
h1 {
  3rem;
}
h2 {
  2.5rem;
}
h3 {
  2rem;
}
h4 {
  1.5rem;
}
h5 {
  1.166rem;
}
h6{
  1rem;
}

@media screen and (min-width: 768px) {
  .drawer-layout-width-768px {
    display: none;
  }
}
.text-center {
  text-align: center;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  width: 100%;
  background: #4d4d4d;
  padding: 2rem 0;
  color: #ffffff;
}
.drawer-layout {
  padding-left: 10px; 
  padding-right: 10px;
  max-width: 420px;
}
.drawer-text-size {
  font-size: 20px;
}
.drawer-head-text {
  size: 20px;
  float: left;
}
.drawer-flex-head {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}