html {
  font-size: 12px;
}
body {
  line-height: 1.5px;
  background-color: #ffffff;
  font-family: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  color: #484848;
}

/* 36,30,24,18,14,12px */
h1 {
  3rem;
}
h2 {
  2.5rem;
}
h3 {
  2rem;
}
h4 {
  1.5rem;
}
h5 {
  1.166rem;
}
h6{
  1rem;
}
.text-center {
  text-align: center;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  width: 100%;
  background: #4d4d4d;
  padding: 2rem 0;
  color: #ffffff;
}

/* Sign In and Sign Up*/
.signin-title-text, .signup-title-text {
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}
.signin-button-text, .signup-button-text {
  color: #737373;
  font-size: 1.5rem;
}
.signup-button{
  margin: 4rem 0 0 0;
  width: 100%;
}
.sign-layout {
  height: 50vh;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.signin-button {
  width: 100%;
}
.signin-align-center {
  text-align: center;
}
.forgot-passsword-text {
  margin: 1rem;
	color: #d6d2d2;
	text-align: center;
}
.create-new-account-text {
  margin: 1rem 0 4rem 0;
  cursor: pointer;
	color: #484848;
	text-align: center;
}
/*.signin-signinup-dialog-flex {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}*/
