<!-- sign in modal -->
<div class="modal fade" id="signin-modal" role="dialog">
	<div class="modal-dialog modal-xs">
		<div class="modal-content">
			<div class="modal-body row">
				<div class="col-xs-1"></div>
				<div class="col-xs-10">
					<h3 align="center">Platoon<br>Sign In</h3><br>
					<input type="text" class="form-control" id="input-name" placeholder="Name"><br>
					<input type="text" class="form-control" id="input-email" placeholder="Email"><br>
					<input type="text" class="form-control" id="input-skill" placeholder="Password">
					<h6 class="forgot-passsword-text" align="center">forget password?</h6>
					<h6  class="create-new-account-text" align="center">Creat New Account!</h6>
					<div class="btn btn-raised btn-lg signin-button" data-dismiss="modal"><h3 class="signin-button-text">SIGN IN</h3>
					</div>
				</div>
				<div class="col-xs-1"></div>
			</div>
		</div>
	</div>
</div>