<!-- Sign up modal -->
<div class="modal fade" id="signup-modal" role="dialog">
	<div class="modal-dialog modal-xs signin-signinup-dialog-flex">
		<div class="modal-content">
			<div class="modal-body row">
				<div class="col-xs-1"></div>
				<div class="col-xs-10">
					<h3 class="signup-title-text">Platoon<br>Sign Up</h3><br>
					<input type="text" class="form-control" id="input-name" placeholder="Name"><br>
					<input type="text" class="form-control" id="input-email" placeholder="Email"><br>
					<input type="text" class="form-control" id="input-skill" placeholder="Skills (at least one)">
					<h6 class="skills-input-descrpiption">skills可以是你的專業，或者是你的興趣。代表的是你想要別人看到你擁有的能力。</h6>
					<div class="row">
						<div class="col-xs-1"></div>
						<div class="col-xs-10"><hr class="hr-line"></div><br>
						<div class="col-xs-1"></div>
					</div>
					<input type="text" class="form-control" id="input-password" placeholder="Password"><br>

					<div class="btn btn-raised btn-lg signup-button" data-dismiss="modal"><h3 class="signup-button-text">SIGN UP</h3>
					</div>
				</div>
				<div class="col-xs-1"></div>
			</div>
		</div>
	</div>
</div>