/* About Layout */
@media screen and (min-width: 960px) {
  .max-width-960 {
    max-width: 960px;
  }
}

/* About content & text */


/*  */
.title-margin, .subtitle-margin {
	margin: 1rem 0;
}
.content-margin {
  margin: 0.5rem 0;
}
.slogan-margin {
	margin-top: 3rem 0;
}
.block-margin {
	margin: 3rem 0;
}

.img-responsive{
	max-width: 100%;
  height: auto;
}

/* block 'start to exchange card' */
.ex-card-bg {
	width: auto;
	height: 528px;
	padding-top: 8rem;
	padding-bottom: 5rem;
	background-image: url('http://sistemas.cesmac.edu.br/sic-web/assets/admin/pages/media/bg/1.jpg');
	background-size: 100% 100%
}
@media screen and (min-width: 540px){
	.ex-card-bg .btn{
		display: none;
	}
}

.ex-card-bg .btn {
	background-color: rgba(255, 255, 255, 0.7);
	width: auto;
	padding: 2.5rem 0rem;
	margin: 20px 0;
	font-size: 1.166rem;
	line-height: 0;
	max-height: 1px;
}


@media screen and (min-width: 540px){
	.ex-card-title {
		font-size: 4rem;
	}
}
.ex-card-subtitle {

}
@media screen and (min-width: 540px){
	.ex-card-subtitle {
		display: none;
	}
}
.ex-card-subtitle-desktop {
	font-size: 2rem;
	display: none;
}
@media screen and (min-width: 540px){
	.ex-card-subtitle-desktop {
		display: block;
	}
}

/* slogan block 'easy to use' */
.slogan-easy-bg {
}

/* slogan block 'virtual and paper synchronize' */
.slogan-synchronize-bg {
}

/* slogan block 'want more information?' */
.get-email {
	height: 240px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.get-email .btn {
  font-size: 1rem;
	width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-color: rgba(#000000, 0.3);
}







.stylish-input-group .input-group-addon {
	background: white;
}
.stylish-input-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}
.stylish-input-group button {
	border: 0;
	background: transparent;
}
.skills-input-descrpiption {
	color: #b3b3b3;
}
.forgot-passsword-text {
	color: #b3b3b3;
}
.create-new-account-text {
	color: #b3b3b3;
}
.signup-button-text {
	color: #737373;
}
.signin-button-text {
	color: #737373;
}
.signup-button{
	width: 100%;
}
.signin-button {
	width: 100%;
}
.hr-line {
	border-color: #b3b3b3;
}
.create-new-account-text {
	margin-bottom: 6rem;
}
.drawer-item-line {
	color: #b3b3b3;
}

/* footer */

/*.footer-custom-left {
	padding-top: 8rem;
	background: #4d4d4d;
}
.footer-custom-right {
	padding-top: 8rem;
	background: #999999;
}*/
.footer-text-custom {
	color: white;
}
