/*.btn {
	background-color: rgb(255, 255, 255);
}*/

/* About content & text */
.text-center {
	text-align: center;
}
h2.title {
	/*padding-top: 2rem;*/
}


/* footer */
.footer-custom-left {
	padding-top: 8rem;
	padding-bottom: 8rem;
	background: #4d4d4d;
}
.footer-custom-right {
	padding-top: 8rem;
	padding-bottom: 8rem;
	background: #999999;
}
.footer-text-custom {
	color: white;
}

/* block 'start to exchange card' */
.start-exchange-card-bg {
	width: auto;
	height: 450px;
	padding-top: 5rem;
	padding-bottom: 1.5rem;
	background-image: url('http://sistemas.cesmac.edu.br/sic-web/assets/admin/pages/media/bg/1.jpg');
	background-size: 100% 100%
}
.start-exchange-card-bg .btn {
	background-color: rgba(255, 255, 255, 0.7);
	width: auto;
	padding: 2rem 0rem;
	font-size: 1.166rem;
	line-height: 0;
	max-height: 1px;
}


/* slogan block 'easy to use' */
.slogan-easy-bg {
	padding-top: 2.5rem;
	padding-bottom: 0rem;
	background: #f2f2f2;
}

/* slogan block 'virtual and paper synchronize' */
.slogan-synchronize-bg {
	padding-top: 2.5rem;
	padding-bottom: 0rem;
	background: #bfbfbf;
}
.stylish-input-group .input-group-addon {
	background: white;
}
.stylish-input-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}
.stylish-input-group button {
	border: 0;
	background: transparent;
}
.skills-input-descrpiption {
	color: #b3b3b3;
}
.forgot-passsword-text {
	color: #b3b3b3;
}
.create-new-account-text {
	color: #b3b3b3;
}
.signup-button-text {
	color: #737373;
}
.signin-button-text {
	color: #737373;
}
.signup-button{
	width: 100%;
}
.signin-button {
	width: 100%;
}
.hr-line {
	border-color: #b3b3b3;
}
.create-new-account-text {
	margin-bottom: 6rem;
}
.drawer-item-line {
	color: #b3b3b3;
}
