{% extends "main.html" %}

{% block head_title %}Platoon{% endblock %}

{% block css_extends %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "css/personal_card_page/card_box.css" %}">
{% endblock %}

{% block extra_head %}{% endblock %}

{% block body_base %}
<div class="card-box-head">
	<div class="card-box-text" align="center">
		<h2>Card Box</h2>
		<h6>search and manage your card</h6>
	</div>
</div>

<div class="row search-card-box">
	<div class="col-xs-1"></div>
	<div class="col-xs-10 max-layout-width-720px">
		<!-- search box for searching card list -->
		<div class="input-group stylish-input-group">
			<!-- search text -->
			<input type="text" class="form-control">
			<!-- search button for card list -->
			<button type="button" class="btn btn-default navbar-btn">
				<i class="material-icons">search</i>
			</button>
		</div>
	</div>
	<div class="col-xs-1"></div>
</div>

<!-- personal card list -->
<div id="react-card-box" class="table table-bordered max-layout-width-720px">
</div>

{% block end_js_extends %}
{% endblock %}
{% endblock %}

{% block include_html %}
	 <!-- personal card modal-->
	{% include 'personal_card_page/personal_card.html' %}
{% endblock %}
