{% extends "main.html" %}

{% block head_title %}Platoon{% endblock %}

{% block css_extends %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "css/personal_card_page/edit_personal_card.css" %}">
{% endblock %}

{% block extra_head %}{% endblock %}

{% block body_base %}
<div class="edit-card-head">
	<div class="edit-card-text" align="center">
		<h2>Edit Business Card</h2>
		<h6>Click to edit your information</h6>	
	</div>
</div>

<table class="table borderless max-layout-width-540px">
	<tbody>
		<tr>
			<td class="title-column">Nickname</td>
			<td class="description-column">
				<!-- the content of nickname -->
				<input value="" type="text" class="form-control">
			</td>
		</tr>

		<tr>
			<td class="title-column">Phone</td>
			<td class="description-column">
				<!-- the content of phone number -->
				<input value="" type="number" class="form-control">
			</td>
		</tr>

		<tr>
			<td class="title-column">Skills</td>
			<td class="description-column">
				<!-- the content of skills -->
				<input value="" type="text" class="form-control">
			</td>
		</tr>

		<tr>
			<td class="title-column">Languages</td>
			<td class="description-column">
				<!-- the textarea content of languages -->
				<textarea type="text" class="md-textarea form-control"></textarea>
			</td>
		</tr>

		<tr>
			<td class="title-column">Company</td>
			<td class="description-column">
				<!-- the content of company -->
				<input value="" type="text" class="form-control">
			</td>
		</tr>

		<tr>
			<td class="title-column">Collections</td>
			<td class="description-column">
				<div class="row">
					<div class="col-xs-9">
						<!-- the content of Collections -->
						<input value="" type="text" class="form-control">		
					</div>
					<div class="col-xs-3">
						<!-- remove collection input button -->
						<button type="button" class="btn btn-default navbar-btn">
							<i class="material-icons remove-button">remove_circle</i>
						</button>
					</div>
				</div>
				<span>
					<!-- add collection input button -->
					<button type="button" class="btn btn-default navbar-btn">
						<i class="material-icons add-button">add</i>
					</button>
				</span>
				<span>Add New One</span>
			</td>
		</tr>

		<tr>
			<td class="title-column">Education</td>
			<td class="description-column">
				<div class="row">
					<div class="col-xs-9">
						<!-- the content of education -->
						<input value="" type="text" class="form-control">		
					</div>
					<div class="col-xs-3">
						<!-- remove education input button -->
						<button type="button" class="btn btn-default navbar-btn">
							<i class="material-icons remove-button">remove_circle</i>
						</button>
					</div>
				</div>
				<span>
					<!-- add education input button -->
					<button type="button" class="btn btn-default navbar-btn">
						<i class="material-icons add-button">add</i>
					</button>
				</span>
				<span>Add New One</span>
			</td>
		</tr>

		<tr>
			<td class="title-column">Certifications</td>
			<td class="description-column">
				<div class="row">
					<div class="col-xs-9">
						<!-- the content of Certifications -->
						<input value="" type="text" class="form-control">		
					</div>
					<div class="col-xs-3">
						<!-- remove education input certification -->
						<button type="button" class="btn btn-default navbar-btn">
							<i class="material-icons remove-button">remove_circle</i>
						</button>
					</div>
				</div>
				<span>
					<!-- add education input certification -->
					<button type="button" class="btn btn-default navbar-btn">
						<i class="material-icons add-button">add</i>
					</button>
				</span>
				<span>Add New One</span>
			</td>
		</tr>

		<tr>
			<td class="title-column">Experiences</td>
			<td class="description-column">
				<div class="row">
					<div class="col-xs-9">
						<!-- the content of Experiences -->
						<input value="" type="text" class="form-control">		
					</div>
					<div class="col-xs-3">
						<!-- remove education input Experience -->
						<button type="button" class="btn btn-default navbar-btn">
							<i class="material-icons remove-button">remove_circle</i>
						</button>
					</div>
				</div>
				<span>
					<!-- add education input Experience -->
					<button type="button" class="btn btn-default navbar-btn">
						<i class="material-icons add-button">add</i>
					</button>
				</span>
				<span>Add New One</span>
			</td>
		</tr>

		<tr>
			<td class="title-column">Want to do</td>
			<td class="description-column">
				<div class="row">
					<div class="col-xs-9">
						<!-- the title of Want to do-->
						<input value="" type="text" class="form-control">
						<!-- the textarea content of Want to do -->
						<textarea type="text" class="md-textarea want-to-do-textarea form-control"></textarea>
					</div>
					<div class="col-xs-3">
						<!-- remove education input want to do -->
						<button type="button" class="btn btn-default navbar-btn">
							<i class="material-icons remove-button">remove_circle</i>
						</button>
					</div>
				</div>
				<span>
					<!-- add education input want to do -->
					<button type="button" class="btn btn-default navbar-btn">
						<i class="material-icons add-button">add</i>
					</button>
				</span>
				<span>Add New One</span>
			</td>
		</tr>
	</tbody>
</table>

<div class="row save-button-row max-layout-width-960px">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
		<!-- Save the Edit -->
		<button type="button" class="btn btn-raised navbar-btn save-button">儲存</button>	
	</div>
	<div class="col-xs-1"></div>
</div>
{% block end_js_extends %}
{% endblock %}

{% endblock %}