{% extends "main.html" %}

{% block head_title %}Platoon{% endblock %}

{% block css_extends %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "css/personal_card_page/edit_personal_card.css" %}">
{% endblock %}

{% block extra_head %}{% endblock %}

{% block body_base %}
<div class="edit-card-head">
	<div class="edit-card-text" align="center">
		<h2>Edit Business Card</h2>
		<h6>Click to edit your information</h6>
	</div>
</div>

<table id="react-personal-edit-page" class="table borderless max-layout-width-540px">
</table>

<div class="row save-button-row max-layout-width-960px">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
		<!-- Save the Edit -->
		<button type="button" class="btn btn-raised navbar-btn save-button">儲存</button>
	</div>
	<div class="col-xs-1"></div>
</div>
{% block end_js_extends %}
{% endblock %}

{% endblock %}
