{% extends "main.html" %}

{% block head_title %}Platoon{% endblock %}

{% block css_extends %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "css/personal_card_page/personal_card_detail.css" %}">
{% endblock %}

{% block extra_head %}{% endblock %}platoon/templates/landing/

{% block body_base %}

<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
	<!-- <nav class="navbar navbar-light navbar-fixed-top" role="navigation"> -->

	{% include 'tools/drawer_unsigned.html' %}

	<header class="bmd-layout-header">
		<div class="navbar navbar-light bg-faded">
			<button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-p1">
				<span class="sr-only">Toggle drawer</span>
				<i class="material-icons">menu</i>
			</button>
			<div class="nav pull-xs-right">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default navbar-btn">
						<i class="material-icons">email</i>
					</button>
					<!-- TODO a little problem with btn-group oder -->
					<a href="{% url "personal_card" %}" >
						<button type="button" class="btn btn-default navbar-btn">
							<i class="material-icons">account_circle</i>
						</button>	
					</a>					
					<button type="button" class="btn btn-default navbar-btn">
						<i class="material-icons">settings</i>
					</button>
				</div>
			</div>
		</div>
	</header>

	<main class="bmd-layout-content">
		<div class="row personal_card">
			<div class="col-xs-1"></div>
				<div class="col-xs-10 exchange-card-finish-content">
					<div class="row">
						<!-- personal image -->
						<div class="col-xs-4">
							<i class="material-icons">account_circle</i>
						</div>	
						<div class="col-xs-8" vertical-align="center">
							<div> 
								<!-- exchange card person name-->
								<h3 class="exchange-card-finish-text">高安，Albert</h3> 
								<!-- exchange card person email-->
								<h6 class="exchange-card-finish-text">albert123@gmail.com</h6><br><br> 
								<!-- exchange card person skills-->
								<h6 class="exchange-card-finish-text">Android, Java, GG ci me da</h6>
							</div>
						</div>
					</div>
				</div>
			<div class="col-xs-1"></div>
		</div>
		
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td class="title-column">Languages</td>
					<!-- the content of Languages -->
					<td class="description-column">Languages</td>
				</tr>

				<tr>
					<td class="title-column">Company</td>
					<!-- the content of Company -->
					<td class="description-column">Company</td>
				</tr>

				<tr>
					<td class="title-column">Collections</td>
					<!-- the content of Collections -->
					<td class="description-column">Collections</td>
				</tr>

				<tr>
					<td class="title-column">Education</td>
					<!-- the content of Education -->
					<td class="description-column">Education</td>
				</tr>

				<tr>
					<td class="title-column">Certifications</td>
					<!-- the content of Certifications -->
					<td class="description-column">Certifications</td>
				</tr>

				<tr>
					<td class="title-column">Experiences</td>
					<!-- the content of Experiences -->
					<td class="description-column">Banana Banana Banana Banana Banana Banana Banana Banana Banana Banana Banana Banana Banana Banana</td>
				</tr>

				<tr>
					<td class="title-column">Want to do</td>
					<!-- the content of want to do -->
					<td class="description-column">Want to do</td>
				</tr>
			</tbody>
		</table>
	</main>
</div>

{% block end_js_extends %}
{% endblock %}
{% endblock %}