@media screen and (min-width: 540px) {
	.max-layout-width-540px {
		/*display: block;*/
		margin-right: auto;  
		margin-left: auto;  
		max-width: 540px;
	}
}
.personal_card {
	margin-top: 2rem;
	max-width: 540px;
	margin-right: auto;  
	margin-left: auto; 
	border-style: solid;
	border-width: thin;
	/*height: 40vh;*/
}
.personal-flex-img {
	height:100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.table {
	margin-top: 2rem;
}
.exchange-card-finish-text{
	color: #c3c3c3;
}

.description-column {
	word-wrap: break-word;
	color: #c3c3c3;
}
.title-column {
	color: #202020;
}
.personal-card-flex {
	height: 40vh;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}