<!-- change card dialog modal -->
<div class="modal fade" id="show-id-modal" role="dialog">
	<div class="modal-dialog modal-xs personal-card-flex">
		<div class="modal-content">
			<div class="modal-body row">
				<div class="col-xs-1"></div>
				<form class="col-xs-10">
					<div align="center">
						<h4 class="exchange-card-show-id-text">Platoon ID</h4><br> 
						<!-- personal business card ID-->
						<h2 class="exchange-card-show-id-text">9487</h2>
						<hr><br> 
						<!-- exchange card countdown timer-->
						<h2 class="exchange-card-show-id-count-down-timer">5:00</h2>
					</div>
					<h5 class="exchange-card-dialog-description">此ID將於時限後，<br>或關閉此頁面時自動消失。</h5> 

						<div align="center">   
						<!-- temporary exchange card finish button-->
 						<div class="btn btn-raised btn-sm btn-success" data-toggle="modal" data-target="#exchange-card-finish-dialog">Test exchange card finish</div>
						</div>
						
				</form>
				<div class="col-xs-1"></div>
			</div>
		</div>
	</div>
</div>